<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va+QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA4AIAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGpvbmpvaG5zb24AAAcA
		AAABAQAATGlicmFyeQAUAAAAAQEAAEF1dG9zYXZlIEluZm9ybWF0aW9uJAAA
		AAEBAABVbnNhdmVkIFhjb2RlIERvY3VtZW50IDIueGN3b3Jrc3BhY2UUAAAA
		AQYAAAQAAAAUAAAAKAAAADgAAABUAAAACAAAAAQDAADQYAYAAAAAAAgAAAAE
		AwAAHbQJAAAAAAAIAAAABAMAACK0CQAAAAAACAAAAAQDAACvK6cCAgAAAAgA
		AAAEAwAACP+tAwIAAAAUAAAAAQYAAJwAAACsAAAAvAAAAMwAAADcAAAACAAA
		AAAEAABBwvVdVC5JVhgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
		CAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
		AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFAGXjoAAAAIAAAAAAQAAEHC
		LSd0ufazJAAAAAEBAAA5RDg2REVEMi0zNzdGLTNBNzctOUExMC1GNzA4QzVC
		OEY5ODcYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
		LwAAAAAAAAABBQAA4AAAAAECAAAwZTY4YTcwNWY1OTY4NmRmNzZhMDgyODRl
		MzViZDliMmVjODU3Mjg4ZGVkZDc3NTNmMWM2MGZkZjBlZWY5YzNlOzAwOzAw
		MDA4MDAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29t
		LmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAw
		MDAwMDIwMmE3MmJhZjs0YTsvdXNlcnMvam9uam9obnNvbi9saWJyYXJ5L2F1
		dG9zYXZlIGluZm9ybWF0aW9uAMwAAAD+////AQAAAAAAAAAQAAAABBAAAIAA
		AAAAAAAABRAAAOwAAAAAAAAAEBAAABgBAAAAAAAAQBAAAAgBAAAAAAAAAiAA
		AOQBAAAAAAAABSAAAFQBAAAAAAAAECAAAGQBAAAAAAAAESAAAJgBAAAAAAAA
		EiAAAHgBAAAAAAAAEyAAAIgBAAAAAAAAICAAAMQBAAAAAAAAMCAAAPABAAAA
		AAAAAcAAADgBAAAAAAAAEcAAABQAAAAAAAAAEsAAAEgBAAAAAAAAgPAAAPgB
		AAAAAAAA
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2021-02-27T17:36:40Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
